@import 'libs/smart-grid.less';
@import 'libs/vars.less';
@import 'libs/mixins.less';
@import 'libs/slick.less';
@import 'libs/slick-theme.less';


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color:white;

}

body{
	font-family: 'Montserrat', 'Arial', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 21px;
	color: #000;
}

/* Global classes */

.wrapper{
	.wrapper();
}

.row{
	.row-flex();
}

.clearfix:before,
.clearfix:after{
	content: '';
	display: table;
	clear: both;
}

.clear{
	clear: both;
}

.btn{
	width: 173px;
	height:55.27px;
	border-radius:5px;
	background-color:transparent;
	border: 1px solid #FFFFFF;
}
.btn__white{
	height: 52px;
	width: 181px;
	color:black;
	border: 1px solid #FFFFFF;
	border-radius: 28px;
	background-color: #FDFDFD;
	box-shadow: 0 10px 35px -12px rgba(19,1,21,0.45);
	cursor:pointer;
	transition:0.5s;
	&:hover{
		transform:scale(1.3);
	}

}

.visually-hidden{
	width: 1px;
	height: 1px;
	overflow: hidden;
	margin-top: -1px;
	margin-left: -1px;
	position: absolute;
	clip: rect(0,0,0,0);
	border: none;
}

img, svg{
	max-width: 100%;
	height: auto;
}





/* Atomic classes */

.d-n{
	display: none;
}

.d-b{
	display: block;
}

/* General */

.header{
	position:absolute;
	width: 100%;
	top: 0;
	left: 0;
}
.navigation{
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	&__ul{
		.size(6);
		display: flex;
		justify-content: space-between;
		list-style: none;
		font-family: Rubik;
		font-size: 15px;
		letter-spacing: 0.47px;
	}

	&__li{

	}
}

.first-screen{
	padding-top: 189px;
	  background-image: url(../img/header illustration.png);
	  background-repeat: no-repeat;
	&:after{
		content:'';
		display: block;
	    height: 100%;
	    left: 0;
	    position: absolute;
	    top: 0;
	    width: 100%;
		z-index:-1;	  
	    background: linear-gradient(180.14deg, #D50086 0%, #80006D 40.07%, #41005A 100%);
	    
	}
	
}
.registr{

	display:flex;
	justify-content:space-between;
	
}
.registration{
	height: 468px;
	.col();
	.size(4);
	.shift-left(1);
	
	&__slogan{
		unicode-bidi: bidi-override;
    	direction: rtl;
    	line-height: 30px;	
	}
	&__p{
		margin-bottom: 50px;
		unicode-bidi: bidi-override;
    	direction: rtl;
	}
	&__btn{

		&_span{
			font-size:15px;
		}
		&_p{
			font-size:20px;
			margin-left: 10px;
			width: 130px;
			text-align:left;

		}
		
		display:flex;
		justify-content:space-between;
		


		&_1{
			padding-left: 15px;

			
			display:flex;			
			align-items:center;


		}
		&_2{
			padding-left: 10px;
			
			display:flex;

			
			align-items:center;


		}
	}




	&__card{
		height: 468px;

		background-color:transparent;
		.col();
		.size(4);
		.shift-right(1.2);
		border: 1px solid #FFFFFF;
		text-align:center;
		border-radius: 10px;
		box-shadow: 0 2px 4px 0 rgba(83,83,83,0.5);
		&_img{
			height: 322.12px;
			.size(9);
			margin-top: -53px;
			margin-bottom: 27px;
		}
		&_h{
			margin-bottom: 15px;
			color: #FFFFFF;	font-family: "Secular One";	font-size: 18px;	letter-spacing: 0.45px;	line-height: 70px;
		}
		&_p{
			margin-bottom: 26px;
		}
	
	}
}
.icon{
	margin-top: 74px;
	
	&__a{
		margin-right: 30px;
		text-decoration:none;
	}
	&__img{
		width: 24px;
		height: 24px;
		margin-bottom: 45px;
	}
}

.functions{
	background-image:url(../img/bg .png);
	background-size: cover;
}

.opportunities{
	padding-top: 69px;
	padding-bottom: 49px;
	&__logo{
		margin-bottom: 20px;
	}

	&__text{
		
		.size(4);
		margin-left: auto;
		
    	direction: rtl;
    	&_h1{
    		
    		color: #FFFFFF;	
    		font-family: Rubik;
    		font-size:18px;	font-weight: bold;
    		letter-spacing: 0.57px;
    		line-height: 34px;
    		text-align: right;
    	}

		&_h2{
			color: #FFFFFF;
			font-family: "Secular One";
			font-size: 50px;
			letter-spacing: 1.26px;
			line-height: 70px;
			text-align: right;
		}
		&_p{
				
			height: 98px;
			width: 394px;
			color: #FFFFFF;
			font-family: Rubik;
			font-size: 22px;
			letter-spacing: 0.69px;
			line-height: 31px;
			text-align: right;

		}

	}

	&__ul{
   		direction: rtl;
		color:white;
		font-weight:bold;
		list-style:none;
	}
	
	&__li{
		.col();
		.size(2);
		.shift-left(1);
		order:1;
		margin-bottom: 58px;
		position:relative;
		&_number{
		position: absolute;
		top: -30px;
		right: 0;
	}


	}
}

.article{
	background-image:url(../img/bg2.png);
	background-size: 100%;
}

.news{
	padding-top: 129px;
	display:flex;
	justify-content:space-between;
	align-items:center;
	&__text{
		direction: rtl;
		.col();
		.size(4);
		.shift-left(1);
	}
	&__h2{
		height: 70px;	
		width: 458px;
		color: #FFFFFF;
			font-family: "Secular One";	
			font-size: 50px;	
			letter-spacing: 1.26px;	
			line-height: 70px;	
			text-align: right;
	}

	&__p{
			
		color: #FFFFFF;	
		font-family: Rubik;
		font-size: 16px;
		letter-spacing: 0.5px;	
		line-height: 24px;	
		text-align: right;
		margin-bottom: 20px;
	}

	&__img{
		.shift-right(1);
	}
}


.feedback-container{	
	
	&__text{
		padding-top: 65px;
		padding-bottom: 75px;
		text-align:center;
		direction: ltr;
		unicode-bidi: normal;

	}
	&__p{
		margin-bottom: 10px;
		color: #FFFFFF;
		font-family: "Secular One";	
		font-size: 18px;
		letter-spacing: 0.45px;	
		line-height:70px;
	}
	&__h{
		padding-bottom: 75px;	
		color: #FFFFFF;	
		font-family: "Secular One";	
		font-size: 50px;	
		letter-spacing: 1.26px;	
		line-height: 70px;	
	}
}
.feedbacks{
	.shift-left(0.5);
	.shift-right(0.5);
	list-style:none;
	text-align: right;
	flex-wrap: wrap;
	justify-content:space-between;
}
.feedback{
	
	.col();
	.size(3);
		margin-left: 45px;
		margin-right: 45px;
		margin-bottom: 56px;
	

		border-radius: 8px;
		box-shadow: 5px 20px 35px -12px rgba(64,63,63,0.4);
		unicode-bidi: bidi-override;
		direction: rtl;
		border:1px solid white;
		padding:28px 12px 16px 12px;
	&__data{
		color: #E8E8E8;	
		font-family: Rubik;	
		font-size: 14px;	
		letter-spacing: 0.44px;	
		line-height: 34px;	
		text-align: right;
		margin-bottom: 13px;
	}
	&__h{
		font-family: Rubik;	
		font-size: 26px;	
		font-weight: bold;	
		letter-spacing: 0.82px;	
		line-height: 27px;	
		text-align: right;
		margin-bottom: 41px;
	
	}
	&__text{
		font-family: Rubik;	
		font-size: 16px;	
		letter-spacing: 0.5px;	
		line-height: 24px;	
		text-align: right;
		margin-bottom: 13px;
	}
	&__img{
		margin-bottom: 11px;
	
	}
	&__a{
		text-decoration: none;
		color: #F1F1F1;	
		font-family: Rubik;	
		font-size: 14px;	
		font-weight: bold;	
		letter-spacing: 0.44px;	
		line-height: 27px;
	}
}
.slider{
	padding-top: 100px;
	
	&__text{
		text-align:center;
		margin-bottom: 62px;
		color: #FFFFFF;	
		font-family: "Secular One";	
		font-size: 50px;	
		letter-spacing: 1.26px;
			line-height: 70px;
	}
	padding-bottom: 150px;
}

.slider-for{
	.col();
	.size(12);
	


	
	&__img{
		.col();
		.size(11);
		max-height:635px;
	}
	margin-bottom: 30px;
}
.slider-nav{
	.col();
	.size(10);
	margin: 0 auto;
	display:flex;
	justify-content:space-around;
	

	&__img{
		margin-left: 15.7px;
		margin-right:15.7px;
		background-size:cover;
		height: 102px;
		width: 198px;

	}
}
.slider-container__btn{
		
		margin-top: 25px;
		border: none;
		border-radius:47px;
		background-color: transparent;
		@size: 21px;
		width: @size;
		height: @size;
		overflow: hidden;
		cursor: pointer;
		position: relative;
		outline: none;
		transition: 0.5s;
		&:hover{
			transform:scale(1.3);
		}

		
		

		
		&_next{
			height: 47px;	
			width: 47px;	
			border: 1px solid #FDFDFD;
			&:before{
			content: '';
			position:absolute;
			top: 34%;
			left: 30%;
			display:block;
			border-radius:4px;
			border-top:3px solid white;
			border-right: 3px solid white;
			width: 10px;
			height: 10px;
			transform: rotate(45deg);

		}
				
			}


		&_prev{
			height: 47px;	
			width: 47px;	
			border: 1px solid #FDFDFD;
			&:before{
			content: '';
			position:absolute;
			top: 34%;
			left: 38%;
			display:block;
			border-radius:4px;
			border-bottom:3px solid white;
			border-left: 3px solid white;
			width: 10px;
			height: 10px;
			transform: rotate(45deg);

		}

				
		}
}
.slider-flex{
	display:flex;	

}

.contacts{
	
	padding-bottom: 81px;
}
.section__contacts{
	display:flex;
	justify-content:space-between;
	
	
}

.contacts-info{
	&__logo{
		padding-bottom:36px;	
	}
	&__p{
		margin-bottom: 14px;
	}
	.shift-left(1);
	&__link{
		text-decoration:none;
	}
}
.contacts-form{
	.col();
	.size(3);
	.shift-right(1);
	direction: rtl;
	&__h{
				.size(12);
			font-family: "Secular One";
			font-size: 40px;
			letter-spacing: 1.01px;
			line-height: 70px;
			&_span{
				font-family: Rubik;	
				font-size: 18px;	
				font-weight: bold;	
				letter-spacing: 0.57px;	
				line-height: 34px;
			}
	}
	&__input{
		width: 100%;
		padding-top: 54px;
		padding-bottom: 10px;
		background-color:transparent;
		border:none;
		border-bottom:1px solid white;
		outline:none;

	}
	&__button{
		margin-top: 38px;
	}

}
.footer-navigation{
	display:flex;
	justify-content:space-between;
	padding-bottom: 25px;
}
.navigation-subscribe{
	display:flex;

	&__text{
		font-family: Rubik;
			font-size: 15px;	
			letter-spacing: 0.47px;	
			line-height: 18px;
	}
	&__input{
		background-color:transparent;
		border:none;
		border-bottom: 1px solid white;
		padding-bottom: 8px;
		margin-left: 34px;
		outline:none;
	}
	&__button{
		margin-top: 5px;
		margin-left: -10px;
		background-color:transparent;
		width: 8px;
		height: 8px;
		transform:rotate(45deg);
		border-left: none;
		border-bottom:none;
		box-shadow:none;
		border-top-color:white;
		border-right-color:white;
		outline:none;
		cursor:pointer;

	}
}
.navigation-about{
	.col();
		.size(4);
	&__ul{

		display:flex;
		list-style:none;
		justify-content:space-between;
	}
}
a{
	text-decoration:none;
}
















.gradient{
	background: linear-gradient(180deg, #B3007C 0%, #80006D 37.11%, #41005A 100%);
}

.backImg{
	background-image:url(../img/header illustration.png);
	background-repeat:no-repeat;
	background-position: left bottom;
}
